/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Patua+One&family=Rubik:wght@300&family=Sniglet&family=Poppins&display=swap');

* {
    box-sizing: border-box;

}

:root {
    --Snigle-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "Lobster", cursive;
    --Poppins: "Poppins", cursive;
    --light-black: #2e2c2caf;
    --bggardient: linear-gradient(to bottom,
            #19e6bd,
            #28febd);
    --light-gray: rgba(255, 255, 255, 0.877);
}

nav img {
    height: 50px;
    width: 150px;
}

header {
    background: var(--bggardient);
}

header nav {
    font-family: var(--Poppins);
    font-weight: bold;
}

header .nav-bar {
    font-family: var(--Poppins);
    font-weight: bold;
}

.nav-bar a {
    color: black;
    font-family: var(--Poppins);
}

footer {
    margin-top: 1000px;
    background: #19e6bd;
    overflow-x: hidden;
    padding: 5vmin 5vmin;
}

footer input {
    border: none;
}

footer input::placeholder {
    color: white;
}

footer .input-group .input-group-text {
    background: var(--bggardient);
    border: none;
}

footer .column i {
    color: #6f523b;
}

footer .column i+i {
    padding: 0.05em;
}